/*
Author: Amandeep Kaur
*/
body{
    padding:20px;
}
.aBox{
    border:2px solid black;
    width:fit-content;
    padding: 10px 20px 10px 20px;
    margin:20px;
    background-color: black;
    color: white;
}
.aButton{
    margin:10px;
    padding: 10px;
    border-radius: 5px;
    background-color: aqua;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li{
    float: left;
}
.anotherBox{
    border:2px solid black;
    width:fit-content;
    padding: 10px 20px 10px 20px;
    margin:20px;
    background-color: lightcoral;
}
